<navbar>
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>
    <%= link_to 'Edit profile', edit_user_registration_path %>
    <%#
      This log-out link will send the delete twice, once to the correct path
      and once to dashboard. No harm, but not ideal. Seems to be an issue
      with Turbo.
    %>
    <%= button_to(
      'Logout',
      destroy_user_session_path,
      method: :delete
    ) %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</navbar>

<h1>Welcome</h1>